
@media screen and (min-width: 350px) {
  .footer {
      font-family: 'Arvo', serif;
      display: flex;
      align-items: center;
      width: 100%;
      height: 5em;
      background-color: #7C858E;
      justify-content: center;
      /* position:absolute;
      left:0;
      bottom: 0;
      right:0; */
  }

  .footerLabel {
      padding-right: 1em;
      background-color: #7C858E;
  }  

  .footerLabel input {
      border: solid 1px gray;
      border-right: none;
  }

  .footerLabel button {
      box-shadow: none;
      border: solid 1px gray;
      
  }
}

@media screen and (min-width: 750px) {
  .footer {
      bottom: -10em;
      justify-content: flex-end;
  }
}
